<!DOCTYPE html>
<html>
<body>
  <h1>Anggota Kelompok & Jadwal Belajar</h1>
  {% block content %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Silahkan pilih hari di mana sesi ingin dilaksanakan (bisa lebih dari 1 sebagai opsi tambahan) </p>
    {{ form.sesi_hari }}
    <p>Silahkan pilih hari di mana sesi ingin dilaksanakan (bisa lebih dari 1 sebagai opsi tambahan) </p>
    {{ form.sesi_jam }}
    <p>Mohon lampirkan File terkait Project atau Tugas yang akan dibahas.<br>
*Bagi yang memilih Lecturing Class, bagian ini tidak perlu diisi.<br>
Consultation Class<br>
Untuk memudahkan kami dalam mencarikan Tutor yang sesuai, mohon bantuannya untuk melampirkan File berikut:<br>
File terkait Project atau Tugas yang akan didiskusikan.<br>
Daftar pertanyaan atau hal-hal yang akan dibahas.<br>
Exam Preparation Class<br>
Jika kalian sudah memiliki soal-soal yang ingin dibahas, mohon pastikan materinya sudah sesuai dengan materi yang kalian pilih di halaman sebelumnya.<br>
Jika jumlah soal yang ingin dibahas cukup banyak, Tutor berhak untuk menentukan soal mana saja yang akan dibahas mengingat keterbatasan waktu dalam satu sesi.<br>
Jika kalian belum memiliki soal-soal yang ingin dibahas, Tutor kami akan membantu menyediakan soal-soal untuk latihan bersama di Exam Preparation Class.</p>
    {{ form.lampiran }}
    <p>Notes for Tutor: </p>
    {{ form.notes_for_tutor }}
    <p>Referral Code: </p>
    {{ form.referral_code }}
    <br><br><input type="submit" />
  </form>
  {% endblock %}
    <!--<script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>-->
</body>
</html>