<!DOCTYPE html>
<html>

<body>
  <h1>Anggota Kelompok Belajar</h1>
  {% block content %}
  <form action="" method="POST">
    {% csrf_token %}
<p>Jumlah Peserta: </p>
    <input type="radio" name="jumlah_peserta" id=1 value="1" required><label for="1">1</label><br>
    <input type="radio" name="jumlah_peserta" id=2 value="2"><label for="2">2</label><br>
    <input type="radio" name="jumlah_peserta" id=3 value="3"><label for="3">3</label><br>
    <input type="radio" name="jumlah_peserta" id=4 value="4"><label for="4">4</label><br>
      <input type="radio" name="jumlah_peserta" id=5 value="5"><label for="5">5</label><br>
    <input type="radio" name="jumlah_peserta" id=6 value="6"><label for="6">6</label><br>
    <input type="radio" name="jumlah_peserta" id=7 value="7"><label for="7">7</label><br>
    <input type="radio" name="jumlah_peserta" id=8 value="8"><label for="8">8</label><br>
      <input type="radio" name="jumlah_peserta" id=9 value="9"><label for="9">9</label><br>
    <input type="radio" name="jumlah_peserta" id=10 value="10"><label for="10">10</label><br>
    <br><input type="submit" />
  </form>
  {% endblock %}
</body>

</html>