<!DOCTYPE html>
<html>
<body>
  <h1>Anggota Kelompok & Jadwal Belajar</h1>
  {% block content %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Jumlah Peserta: </p>
    {{ form.jumlah_peserta }}
    <p>Nama anggota kelompok bagi yang berkelompok: </p>
    {{ form.nama_anggota_kelompok_bagi_yang_kelompok }}
    <p>Alamat email anggota kelompok: </p>
    {{ form.alamat_email_anggota_kelompok }}
    <p>Sesi dan Jadwal: </p>
    {{ form.sesi_dan_jadwal }}
    <p>Notes for Tutor: </p>
    {{ form.notes_for_tutor }}
    <p>Referral Code: </p>
    {{ form.referral_code }}
    <p>dsfsfs: </p>
    {{ form.mohon_lampirkan_file_terkait_project_atau_tugas_yang_akan_dibahas }}
    <br><br><input type="submit" />
  </form>
  {% endblock %}
  <script>
    function RadioButton() {
      if (document.getElementById('1').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('2').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('3').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('4').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('5').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('6').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('7').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('8').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('9').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('10').checked) {
        document.getElementById('lain').disabled = true;
      }
      else if (document.getElementById('11').checked) {
        document.getElementById('lain').disabled = false;
      }
    }
  </script>
</body>
</html>