<!DOCTYPE html>
<html>
    <body>
        <table style="width: 5.6e+2pt;border-collapse:collapse;border:none;">
            <tbody>
                <tr>
                    <td style="width: 130pt;border-width: 1pt;border-style: solid;border-color: white white rgb(183, 183, 183);border-image: initial;padding: 0in 5.4pt;height: 75pt;vertical-align: top;">
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;'><img width="160" src="https://myfiles.space/user_files/128194_6c4aefea74cea858/128194_custom_files/img1661323732.png" align="left" alt="image"></p>
                    </td>
                    <td style="width: 315.75pt;border-top: 1pt solid white;border-left: none;border-bottom: 1pt solid rgb(183, 183, 183);border-right: 1pt solid white;padding: 5pt;height: 75pt;vertical-align: top;">
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;'><strong><span style="font-size:27px;line-height:75%;font-family:  Rajdhani;">TORCHE EDUCATION</span></strong></p>
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-size:15px;line-height:75%;font-family:Cairo;color:#434343;">Jl. Kelapa Lilin Utara XIV Blok DG 8 No. 27</span></p>
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-size:15px;line-height:75%;font-family:Cairo;color:#434343;">Kab. Tangerang, Banten, Indonesia 15810</span></p>
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-size:15px;line-height:75%;font-family:Cairo;color:#434343;">+62 851-5521-6117</span></p>
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;'><a href="https://torche.app"><span style="font-size:12px;line-height:75%;font-family:Cairo;color:windowtext;text-decoration:none;">https://torche.app</span></a><span style="font-size:12px;line-height:75%;font-family:Cairo;">&nbsp;| admin@torche.app</span></p>
                    </td>
                    <td style="width: 111.75pt;border-top: 1pt solid white;border-left: none;border-bottom: 1pt solid rgb(183, 183, 183);border-right: 1pt solid white;padding: 5pt;height: 75pt;vertical-align: top;">
                        <p style='margin:0in;line-height:75%;font-size:15px;font-family:"Arial",sans-serif;margin-top:0in;margin-right:13.5pt;margin-bottom:.0001pt;margin-left:4.5pt;text-align:right;'><span style="font-size:12px;line-height:75%;font-family:Cairo;color:#434343;">&nbsp;</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'><strong><span style="font-size:27px;line-height:115%;font-family:Rajdhani;">&nbsp;</span></strong></p>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;text-align:center;'><strong><span style="font-size:27px;line-height:115%;font-family:Rajdhani;">LETTER OF ASSIGNMENT</span></strong></p>
        <table style="width: 5.4e+2pt;border-collapse:collapse;border:none;">
            <tbody>
                <tr>
                    <td style="width: 135.75pt;border: 1pt solid white;padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Nama Associate</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Nomor Refrensi</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Tanggal Invoice</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Mata Kuliah</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Jenis Kelas</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Tanggal Sesi (Jam)</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Kontak Peserta</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Cairo;">Alamat Email peserta</span></p>
                    </td>
                    <td style="width: 404.25pt;border-top: 1pt solid white;border-right: 1pt solid white;border-bottom: 1pt solid white;border-image: initial;border-left: none;padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {{NamaTutor}}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {{ i.nomor_invoice }}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {{ i.tanggal }}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {{ i.mata_kuliah }}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {{ i.metode_pembelajaran }}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {% for a in sesi_tanggal %}{{ a }}{% endfor %} - {% for b in sesi_jam %}{{ b }}{% endfor %}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: <strong>{{ i.nama_lengkap }}&nbsp;</strong>- {{ i.nomor_telefon }}</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">: {{ i.email }}</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'>&nbsp;</p>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'>&nbsp;</p>
        <table style="width: 5.5e+2pt;border-collapse:collapse;border:none;">
            <tbody>
                <tr>
                    <td style="width: 239.25pt;border: 1pt solid rgb(217, 217, 217);background: rgb(11, 18, 42);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:center;border:none;'><strong><span style="font-family:Rajdhani;color:#F3F3F3;">Materi</span></strong></p>
                    </td>
                    <td style="width: 82.7pt;border-top: 1pt solid rgb(217, 217, 217);border-right: 1pt solid rgb(217, 217, 217);border-bottom: 1pt solid rgb(217, 217, 217);border-image: initial;border-left: none;background: rgb(11, 18, 42);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:center;border:none;'><strong><span style="font-family:Rajdhani;color:#F3F3F3;">Sesi</span></strong></p>
                    </td>
                    <td style="width: 82.7pt;border-top: 1pt solid rgb(217, 217, 217);border-right: 1pt solid rgb(217, 217, 217);border-bottom: 1pt solid rgb(217, 217, 217);border-image: initial;border-left: none;background: rgb(11, 18, 42);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:center;border:none;'><strong><span style="font-family:Rajdhani;color:#F3F3F3;">Jumlah org</span></strong></p>
                    </td>
                    <td style="width: 141.25pt;border-top: 1pt solid rgb(217, 217, 217);border-right: 1pt solid rgb(217, 217, 217);border-bottom: 1pt solid rgb(217, 217, 217);border-image: initial;border-left: none;background: rgb(11, 18, 42);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:center;border:none;'><strong><span style="font-family:Rajdhani;color:#F3F3F3;">Harga Kelas</span></strong></p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 239.25pt;border-right: 1pt solid rgb(217, 217, 217);border-bottom: 1pt solid rgb(217, 217, 217);border-left: 1pt solid rgb(217, 217, 217);border-image: initial;border-top: none;padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;border:none;'><span style="font-family:Rajdhani;color:#434343;">{{ sesi_materi }}</span></p>
                    </td>
                    <td style="width: 82.7pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 217, 217);border-right: 1pt solid rgb(217, 217, 217);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:center;border:none;'><span style="font-family:Rajdhani;">{{ i.jumlah_sesi_yang_diikuti }}</span></p>
                    </td>
                    <td style="width: 82.7pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 217, 217);border-right: 1pt solid rgb(217, 217, 217);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:center;border:none;'><span style="font-family:Rajdhani;">{{ i.jumlah_peserta }}</span></p>
                    </td>
                    <td style="width: 141.25pt;border-top: none;border-left: none;border-bottom: 1pt solid rgb(217, 217, 217);border-right: 1pt solid rgb(217, 217, 217);padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:right;border:none;'><span style="font-family:Rajdhani;">{{ i.biaya }}</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'>&nbsp;</p>
        <table style="width: 5.5e+2pt;margin-left:-.5pt;border-collapse:collapse;border:none;">
            <tbody>
                <tr>
                    <td style="width: 310.5pt;border: none;padding: 0in 5.4pt;vertical-align: top;">
                        <p
                            style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:right;border:none;'>
                            <strong><span style="font-family:Cairo;color:white;">&nbsp;</span></strong>
                        </p>
                    </td>
                    <td
                        style="width: 94.5pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid rgb(67, 67, 67);background: rgb(67, 67, 67);padding: 5pt;vertical-align: top;">
                        <p
                            style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:right;border:none;'>
                            <strong><span style="font-family:Cairo;color:white; text-align: center;">Honor&nbsp;&nbsp;&nbsp;</span></strong>
                        </p>
                    </td>
                    <td
                        style="width: 139.5pt;border-top: none;border-left: none;border-bottom: 1pt solid white;border-right: 1pt solid rgb(153, 153, 153);background: rgb(67, 67, 67);padding: 5pt;vertical-align: top;">
                        <p
                            style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;text-align:right;border:none;'>
                            <strong><span style="font-family:Cairo;color:white;">{{ i.biaya }}</span></strong>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'>&nbsp;</p>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'>&nbsp;</p>
        <table style="width: 5.4e+2pt;border-collapse:collapse;border:none;">
            <tbody>
                <tr>
                    <td style="width: 306.75pt;border: 1pt solid white;padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">Koordinator Associate,</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">Manager of Education</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">&nbsp;</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">&nbsp;</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">&nbsp;</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><strong><span style="font-family:Cairo;">Felix Pratama</span></strong></p>
                    </td>
                    <td style="width: 233.25pt;border-top: 1pt solid white;border-right: 1pt solid white;border-bottom: 1pt solid white;border-image: initial;border-left: none;padding: 5pt;vertical-align: top;">
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">Menyetujui,</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">Manager of General Affairs</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">&nbsp;</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">&nbsp;</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Rajdhani;">&nbsp;</span></p>
                        <p style='margin:0in;line-height:normal;font-size:15px;font-family:"Arial",sans-serif;'><strong><span style="font-family:Cairo;">Leon Lukhas Santoso</span></strong></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style='margin:0in;line-height:115%;font-size:15px;font-family:"Arial",sans-serif;'><span style="font-family:Cairo;">&nbsp;</span></p>
    </body>
</html>